@model IEnumerable<RepairShop.ViewModels.RepairStatusGroup>

@{
    ViewBag.Title = "Status Statistics";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2>Repair Order Status Statistics</h2>

<table>
    <tr>
        <th>
            Status Type
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepairStatus)
            </td>
            <td>
                @item.StatusCount
            </td>
        </tr>
    }
</table>
